@import "bootstrap/scss/bootstrap";
$color-primario: #AEC6CF; 
$color-secundario: #B3E2CD; 
$color-fondo: #f0f2f5; 
$color-texto: #212529; 
$color-gris-claro: #f8f9fa;

body {
    
    background-color: #fafafa; 
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    color: #343a40; 
}

.container {
    margin-top: 20px;
}